In [7]:
import pandas as pd

In [8]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [9]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [10]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [11]:
s.name = "인구"

s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [12]:
s.index.name = "도시"

s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64