In [28]:
import pandas as pd

In [29]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [30]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [31]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [32]:
s.name = "인구"

s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [33]:
s.index.name = "도시"

s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [34]:
list_data = ['2019-01-02', 3.14, 'ABC', 100 , True]
sr = pd.Series(list_data)

print(sr)
print("\n")

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [35]:
idx = sr.index
val = sr.values

print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [36]:
# 튜플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)

tup_data = ('영인', '2019-05-01', '여', True)
sr = pd.Series(tup_data, index = ['이름' , '생년월일', '성별', '학생여부'])

print(sr)
print('\n')

이름              영인
생년월일    2019-05-01
성별               여
학생여부          True
dtype: object

In [37]:
# 원소 1개를 선택
print(sr[0]) # sr의 1번째 원소를 선택(정수형 위치 인덱스를 활용)
print(sr['이름']) # '이름 라벨을 가진 원소를 선택 (인덱스 이름을 활용)

영인
영인

In [38]:
# 여러개의 원소를 선택 (인덱스 리스트 활용)

print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])
print('\n')

생년월일    2019-05-01
성별               여
dtype: object


생년월일    2019-05-01
성별               여
dtype: object

In [40]:
# 여러개의 원소를 선택 (인덱스 범위 지정)

print(sr[1:2])

생년월일    2019-05-01
dtype: object

<h5>백터화 연산</h5>

In [42]:
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

<h5>딕셔너리와 시리즈</h5>

In [43]:
"서울" in s
"대전" in s

for k, v in s.items():
    print("%s * %d" % (k, v))

서울 * 9904312
부산 * 3448737
인천 * 2890451
대구 * 2466052

In [45]:
s2 = pd.Series({"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [46]:
# 2015 인구 자료 (s)와 2010년 인구자료 (s2) 빼보기

ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64