In [397]:
import pandas as pd

In [398]:
ss = pd.Series([5000, 15000, 10000, 20000, 15000],
               index = ['떡볶이', '치킨', '피자', '족발', '순대'] )
bb = pd.Series([4000, 15000, 6000, 5000, 8000],
               index = ['떡볶이', '치킨', '피자', '컵밥', '마라탕'])

cc = ss - bb
cc

떡볶이    1000.0
마라탕       NaN
순대        NaN
족발        NaN
치킨        0.0
컵밥        NaN
피자     4000.0
dtype: float64

In [399]:
cc = cc[cc.notnull()]
cc

떡볶이    1000.0
치킨        0.0
피자     4000.0
dtype: float64

In [400]:
ss["순대"] = 8000
ss

떡볶이     5000
치킨     15000
피자     10000
족발     20000
순대      8000
dtype: int64

In [401]:
del bb["마라탕"]
bb

떡볶이     4000
치킨     15000
피자      6000
컵밥      5000
dtype: int64

<h4>데이터 프레임</h4>

엑셀과 같이 인덱스, 변수, 값 으로 이루어진 데이터 구조

대용량 데이터를 빠르고 쉽게 다룰 수 있음

한계용량은 엑셀 약 100MB Pandas 는 1Gb ~ 100GB 활용 가능

복잡한 기능을 구현하기가 쉽고 데이터 전처리를 쉽게 할 수 있음

다른시스템과 연동이 쉬움

In [402]:
# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의 (2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6,], 'c2':[7,8,9,], 'c3':[10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장,
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
print('\n')

# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [403]:
# 행 인덱스/ 열 ㅇ름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
print(df)   # 데이터 프레임
print('\n')
print(df.index)   # 행 인덱스
print('\n')
print(df.columns)   # 열 이름
print('\n')

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [404]:
# 행 인덱스, 열 이름 변경하기
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)   # 데이터 프레임
print('\n')
print(df.index)   # 행 인덱스
print('\n')
print(df.columns)   # 열 이름

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [405]:
# 원본 객체를 변경하려면 inplace = True
df.rename(columns={'소속':'학교'}, inplace = True)
df

     연령 남녀   학교
학생1  15  남  덕영중
학생2  17  여  수리중

<h5>행, 열 삭제

In [406]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악': [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터 프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행 (우현) 을 삭제
df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print('\n')

# 데이터 프레임 df를 복제하여 변소 df3에 저장. df3의 2개 행(우현, 인아)을 삭제
df3 = df[:]
df3.drop(['우현', '인아'], inplace=True)
print(df3)


# 열 단위 삭제는 axis = 1
# 열 삭제

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\Revo\AppData\Local\Temp\ipykernel_2984\834013992.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)
C:\Users\Revo\AppData\Local\Temp\ipykernel_2984\834013992.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], inplace=True)

In [407]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열 (column)을 삭제
df4 = df[:]
df4.drop('수학', axis=1,inplace=True)
print(df4)
print('\n')

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열 (column)을 삭제
df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\Revo\AppData\Local\Temp\ipykernel_2984\2147720662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학', axis=1,inplace=True)
C:\Users\Revo\AppData\Local\Temp\ipykernel_2984\2147720662.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어', '음악'], axis=1, inplace=True)

In [408]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", " 부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

      지역     2015     2010     2005     2000  2010-2015 증가율
서울   수도권  9904312  9631482  9762546  9853972         0.0283
 부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0982
대구   경상권  2466052  2431774  2456016  2473990         0.0141

In [409]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [410]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [411]:
df.index

Index(['서울', ' 부산', '인천', '대구'], dtype='object')

In [412]:
df.index.name = "도시"
df.columns.name = "특성"

df

특성    지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울   수도권  9904312  9631482  9762546  9853972         0.0283
 부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0982
대구   경상권  2466052  2431774  2456016  2473990         0.0141

In [413]:
df["지역"]  # 하나의 열 지정시 시리즈 반환

도시
서울     수도권
 부산    경상권
인천     수도권
대구     경상권
Name: 지역, dtype: object

In [414]:
df[["2010", "2015"]]    # 여러 개 열 지정시 데이터 프레임 반환
# 열이 하나 일때 시리즈, 두 개 이상일 땐 데이터 프레임

특성      2010     2015
도시
서울   9631482  9904312
 부산  3393191  3448737
인천   2632035  2890451
대구   2431774  2466052

In [415]:
type(df["2010"])    # [] 괄호가 한 개 일때 시리즈

pandas.core.series.Series

In [ ]:
df[["2010"]]

In [416]:
type(df[["2010"]])  # [[]] 괄호가 두 개일 때는 데이터 프레임

pandas.core.frame.DataFrame

데이터 프레임 행 인덱싱

행 단위로 인덱싱 할 경우 항상 슬라이싱을 해야함

In [417]:
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [418]:
df[1:3]

특성    지역     2015     2010     2005     2000  2010-2015 증가율
도시
 부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0982

데이터 프레임 행 인덱싱
인덱스 값이 문자열이면 라벨 슬라이싱 가능

In [419]:
#df["서울":"부산"]

In [420]:
df["2015"]["서울"]

# 열로 인덱싱하면 시리즈를 반환
# 시리즈에서 다시 행 라벨로 인덱싱

9904312

In [421]:
data = {"국어": [80, 90 , 70 , 30],
        "영어": [90, 70, 60, 40],
        "수학": [90, 60 , 80, 70],}
columns = ["국어", "영어", "수학"]
index = ["춘향", '몽룡', "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [422]:
df["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [423]:
df[["국어", "영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [424]:
#df["평균"]

In [425]:
df["병자", "영어": 80]

InvalidIndexError: ('병자', slice('영어', 80, None))