In [526]:
import pandas as pd

# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)   # 데이터프레임 출력
print('\n')

#  행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준']     # loc 인덱서 활용
posittion1 = df.iloc[0]     # iloc 인덱서 활용
print(label1)
print('\n')
print(posittion1)
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [527]:
label2 = df.loc[['서준', '우현']]
posittion2 = df.iloc[0]
print(label2)
print('\n')
print(posittion2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [528]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
posittion3 = df.iloc[0, 1]
print(label3)
print('\n')
print(posittion3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


98

In [529]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)   # 데이터프레임 출력
print('\n')

math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

english = df.영어
print(english)
print(type(english))
print('\n')

    이름  수학  영어   음악   체육
서준  서준  90  98   85  100
우현  우현  80  89   95   90
인아  인아  70  95  100   90


서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [530]:
# 수학 점수 데이터만 선택. 변수 math2 에 저장
math2 = [['수학']]
print(math2)
print(type(math2))

[['수학']]
<class 'list'>

In [531]:
# 음악 체욱 점수 데이터를 선택. 변수 music_gym에 저장
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>

In [532]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)   # 데이터프레임 출력
print('\n')

# '이름'열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)
print('\n')

    이름  수학  영어   음악   체육
서준  서준  90  98   85  100
우현  우현  80  89   95   90
인아  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [533]:
# 데이터프레임 df의 특정 원소 1개 선택
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print('\n')

85
85

In [534]:
# 데이터프레임 df의 특정 원소 2개 이상 선택
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f)
print('\n')

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [535]:
g = df.loc[['서준','우현'], ['음악', '체육']]
print(g)
h = d = df.iloc[[0,1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [536]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

# '이름'열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)
print('\n')

# 데이터프레임 df에 국어 점수 열을 추가, 데이터 값은 80 지정
df['국어'] = 80
print(df)
# 열 추가

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

In [537]:
df.loc[3] = 0
print(df)
print('\n')
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

# 새로운 행 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0


    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60


    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60
행5   0   0    0    0   0

In [538]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

print(df)   # 데이터프레임 출력
print('\n')

# 데이터프레임 df의 특정 원소를 변경하는 방법
df.iloc[0, 3] = 80
print(df)
print('\n')
df.loc[0, '체육'] = 90
print(df)
print('\n')
df.loc[0, '체육'] = 100
print(df)
print('\n')

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60
행5   0   0    0    0   0


    수학  영어   음악  체육  국어
이름
서준  90  98   85  80  80
우현  80  89   95  90  80
인아  70  95  100  90  80
3    0   0    0   0   0
4   동규  90   80  70  60
행5   0   0    0   0   0


     수학    영어     음악    체육    국어
이름
서준   90  98.0   85.0  80.0  80.0
우현   80  89.0   95.0  90.0  80.0
인아   70  95.0  100.0  90.0  80.0
3     0   0.0    0.0   0.0   0.0
4    동규  90.0   80.0  70.0  60.0
행5    0   0.0    0.0   0.0   0.0
0   NaN   NaN    NaN  90.0   NaN


     수학    영어     음악     체육    국어
이름
서준   90  98.0   85.0   80.0  80.0
우현   80  89.0   95.0   90.0  80.0
인아   70  95.0  100.0   90.0  80.0
3     0   0.0    0.0    0.0   0.0
4    동규  90.0   80.0   70.0  60.0
행5    0   0.0    0.0    0.0   0.0
0   NaN   NaN    NaN  100.0   NaN

In [539]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법
df.iloc[0, 3:5] = 50
print(df)
print('\n')

df.iloc[0, 3:5] = 100, 50
print(df)

     수학    영어     음악     체육    국어
이름
서준   90  98.0   85.0   50.0  50.0
우현   80  89.0   95.0   90.0  80.0
인아   70  95.0  100.0   90.0  80.0
3     0   0.0    0.0    0.0   0.0
4    동규  90.0   80.0   70.0  60.0
행5    0   0.0    0.0    0.0   0.0
0   NaN   NaN    NaN  100.0   NaN


     수학    영어     음악     체육    국어
이름
서준   90  98.0   85.0  100.0  50.0
우현   80  89.0   95.0   90.0  80.0
인아   70  95.0  100.0   90.0  80.0
3     0   0.0    0.0    0.0   0.0
4    동규  90.0   80.0   70.0  60.0
행5    0   0.0    0.0    0.0   0.0
0   NaN   NaN    NaN  100.0   NaN

In [540]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data)
print(df)   # 데이터프레임 출력
print('\n')

# 데이터프레임 df를 전치하기 (메소드 활용)
df = df.transpose()
print(df)
print('\n')

# 데이터프레임 df를 다시 전치하기 (클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [541]:
# DataFrame() 함수로 데이터 프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'], 
             '수학' : [90, 80, 70], 
             '영어' : [98, 89 , 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 90 ,90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [542]:
df.loc[3] = ['한돌이', 50, 60, 70, 100]
df['빅데이터'] = 90, 50, 100, 100
print(df)

    이름  수학  영어   음악   체육  빅데이터
0   서준  90  98   85  100    90
1   우현  80  89   95   90    50
2   인아  70  95  100   90   100
3  한돌이  50  60   70  100   100

In [543]:
df.iloc[0, 2] = 50
df.iloc[1, 1:3] = 50
print(df)

    이름  수학  영어   음악   체육  빅데이터
0   서준  90  50   85  100    90
1   우현  50  50   95   90    50
2   인아  70  95  100   90   100
3  한돌이  50  60   70  100   100

In [544]:
data = {'국어': [80, 90 ,70 ,30],
        "영어" : [90, 70, 60, 40],
        "수학" : [90, 60, 80, 70]}
colums = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=colums)

print(df)

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [545]:
print(df["수학"])
print(type(df["수학"]))

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [546]:
print(df[["국어", "영어"]])
print(type(df[["국어", "영어"]]))

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40
<class 'pandas.core.frame.DataFrame'>

In [547]:
df["평균"] = df.mean(axis = 1) # 평균 구하기
df

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [548]:
df.iloc[3, 1] = 80
df["영어"]["방자"] = 80
df.loc["방자", "영어"] = 80 # 전부 같음
df["평균"] = df.mean(axis = 1)
df

C:\Users\Revo\AppData\Local\Temp\ipykernel_20948\2187429758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"]["방자"] = 80

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  56.666667

In [549]:
df[:1]  # 춘향의 점수를 데이터프레임으로 표현
type(df[:1])

pandas.core.frame.DataFrame

In [550]:
a = df [2:3]
print(a)
print(type(a))
# 향단의 점수를 시리즈로 반환
s = df.loc["향단"]
type(s)

    국어  영어  수학    평균
향단  70  60  80  70.0
<class 'pandas.core.frame.DataFrame'>

pandas.core.series.Series

In [551]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", " 부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

      지역     2015     2010     2005     2000  2010-2015 증가율
서울   수도권  9904312  9631482  9762546  9853972         0.0283
 부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0982
대구   경상권  2466052  2431774  2456016  2473990         0.0141

In [552]:
#df.loc["부산", "2005"]
df.iloc[1, 3]

df.loc[["인천", "대구"], ["2010-2015 증가율"]]
df.iloc[2:, -1]

df.loc[:, "2005"]
df.iloc[:, :3]

#df.loc["부산", "2015":"2010"]
df.iloc[1, 1:3]

KeyError: '부산'